<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>
    </head>
    <body>

        <%- include ('./partials/nav'); %>

        <div class="edit">
            <form action="/edit-guide/<%= guide._id %>" method="POST" enctype="multipart/form-data">
                <label for="Tittel">Title:</label>
                <input type="text" name="Tittel" value="<%= guide.tittel %>" required />
    
                <label for="Tag">Tag:</label>
                <input type="text" name="Tag" value="<%= guide.tag.join(', ') %>" />
    
                <label for="Overskrift">Overskrift:</label>
                <input type="text" name="Overskrift" value="<%= guide.overskrift.join(', ') %>" />
    
                <label for="Beskrivelse">Beskrivelse:</label>
                <textarea name="Beskrivelse" required><%= guide.beskrivelse.join(', ') %></textarea>
    
                <label for="photo">Upload Images:</label>
                <input type="file" name="photo" multiple />
    
                <button type="submit">Save Changes</button>

                <div class="newSection">
                    <h2>Seksjon</h2>
        
                    <label for="">Overskrift</label>
                        <input type="text" name="Overskrift" required>
                    <label for="">Beskrivelse</label>
                        <textarea name="Beskrivelse" rows="4" required></textarea>
                    <label for="">Bilde</label>
                        <input type="file" name="photo" id="photo" accept="image/*">
                    </div>
                </div>
                
            </form>

            
        </div>

        
    </body>
</html>