<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>
    </head>
    <body>
        <%- include('./partials/nav'); %>
    
        <div class="guide-details">
            <h1><%= guide.tittel %></h1>
            <h3>Tags: <%= guide.tag.join(", ") %></h3>
    
            <% guide.overskrift.forEach((heading, index) => { %>
                <h2><%= heading %></h2>
                <p><%= guide.beskrivelse[index] %></p>
                <% if (guide.bilde[index]) { %>
                    <img src="/uploads/<%= guide.bilde[index] %>" alt="Guide Image" />
                <% } %>
            <% }); %>
        </div>
    </body>
</html>