<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>
    </head>
    <body>
        <%- include('./partials/nav'); %>

        <div class="nav-side">
            <% if (guide.overskrift.length > 0) { %>
                <% guide.overskrift.forEach((heading, index) => { %>
                    <a href="#heading-<%= index %>"><%= heading %></a>
                <% }); %>
            <% } %>
        </div>
    
        <div class="main-content">
            <div class="main-info">
                <h1><%= guide.tittel %></h1>
                <h3>Tags: <%= guide.tag.join(", ") %></h3>
                <p>Author: <%= guide.author %></p>
            </div>
            <% guide.overskrift.forEach((heading, index) => { %>
                <h2 id="heading-<%= index %>"><%= heading %></h2>
                <p><%= guide.beskrivelse[index] %></p>
                
                <% if (guide.bilde[index]) { %>
                    <img src="/uploads/<%= guide.bilde[index] %>" alt="<%= heading %> image" class="uploads" />
                <% } %>
            <% }); %>
        </div>

    </body>
</html>