<!DOCTYPE html>
<html lang="en"></html>
<head>
    <%- include('./partials/head'); %>
</head>
<body>

    <%- include ('./partials/nav'); %>
    
    
    <div class="nav-side">
        <a href="/">Home</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">4</a>
        <a href="#">4</a>
        <a href="#">4</a>
        <a href="#">4</a>
        <a href="#">4</a>
    </div>
    
    
    <div class="main-content">
        <h1 class="guide-h1">Welcome to guides</h1>
    
        <% if (guides.length > 0) { %>
            <% guides.forEach(guide => { %>
                <div class="guide">
                    <h2><%= guide.tittel %></h2>
                    <p><strong>Tag:</strong> <%= guide.tag %></p>
                    <p><strong>Overskrift:</strong> <%= guide.overskrift %></p>
                    <p><strong>Beskrivelse:</strong> <%= guide.beskrivelse %></p>
                    <p><strong>Author:</strong> <%= guide.author %></p>
                    <div class="images">
                        <% guide.bilde.forEach(image => { %>
                            <img src="/uploads/<%= image %>" alt="<%= guide.tittel %> image" />
                        <% }); %>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <p>No guides available.</p>
        <% } %>
    </div>
    
</body>
</html>