<!DOCTYPE html>
<html lang="en"></html>
<head>
    <%- include('./partials/head'); %>
</head>
<body>

    <%- include ('./partials/nav'); %>
    
    
    <div class="nav-side">
        <% if (guides.length > 0) { %>
            <% guides.forEach(guide => { %>
                <a href="#<%= guide.tittel %>"><%= guide.tittel %></a>
            <% }); %>
        <% } else { %>
            <p>No guides available</p>
        <% } %>
    </div>
    
    
    <div class="main-content">
        <h1 class="guide-h1">Welcome to guides</h1>
    
        <% if (guides.length > 0) { %>
            <% guides.forEach(guide => { %>
                <div class="guide" id="<%= guide.tittel %>">
                    <h2><%= guide.tittel %></h2>
                    <p><strong>Tag:&nbsp;</strong> <%= guide.tag.join(", ") %></p>
                    <p><strong>Overskrift:&nbsp;</strong> <%= guide.overskrift.join(", ") %></p>
                    <p><strong>Beskrivelse:&nbsp;</strong> <%= guide.beskrivelse.join(", ") %></p>
                    <div class="images">
                        <% guide.bilde.forEach(image => { %>
                            <img src="/uploads/<%= image %>" alt="<%= guide.tittel %> image" />
                        <% }); %>
                    </div>
                    <p><strong>Author:&nbsp;</strong> <%= guide.author %></p>
    
                    <!-- Show Edit and Delete buttons only for the author -->
                    <% if (guide.author === username) { %>
                        <a href="/edit-guide/<%= guide._id %>" class="btn btn-edit">Edit</a>
                        <form action="/delete-guide/<%= guide._id %>" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-delete">Delete</button>
                        </form>
                    <% } %>
                </div>
            <% }); %>
        <% } else { %>
            <p>No guides available.</p>
        <% } %>
    </div>
    
</body>
</html>